#logement {
  img {
    width: 100%;
    border-radius: 25px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .infos {
      max-width: 70%;

      h1 {
        color: var(--primary-color);
        font-weight: 500;
        font-size: 36px;
        margin: 0;
      }

      p {
        font-size: 18px;
        font-weight: 500;
        margin: 0;
        margin-top: 5px;
      }

      #badges {
        display: flex;
        gap: 10px;
        margin-top: 10px;
      }
    }

    .host {
      display: flex;
      gap: 10px;

      align-items: center;

      p {
        font-size: 18px;
        font-weight: 500;
        color: var(--primary-color);
        display: flex;
        flex-wrap: wrap;
        max-width: 100px;
        text-align: right;
      }

      img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
      }
    }
  }

  #dropdowns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
  }

  @media (max-width: 768px) {
    .header {
      flex-direction: column;

      .infos {
        max-width: 100%;
      }

      .host {
        max-width: 33%;
        justify-content: center;

        p {
          font-size: 12px;
        }

        img {
          width: 32px;
          height: 32px;
        }
      }

      #host-rating {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 10px;
        justify-content: space-between;

        .star {
          width: 13px;
          height: 13px;
        }
      }
    }

    #dropdowns {
      flex-direction: column;
      gap: 20px;
    }
  }
}
